.header {
  box-sizing: border-box;
  padding: 92px 49px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Raleway,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-img {
  width: 148px;
  height: 105px;
}

.address {
  line-height: 24.3px;
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 240px;
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center center;
  margin-bottom: 179px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background: #000;
  z-index: 0;
  background-position: center center;
}

.cover__title {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  position: relative;
  top: 165px;
  max-width: 1340px;
  margin-left: 50px;
  margin-right: 50px;
  color: #FFF;
  font-family: Raleway,Arial,sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.alligned-text {
  line-height: 115%;
  letter-spacing: 30px;
  text-align: start;
}

.alligned-text_center {
  display: block;
  line-height: 100%;
  text-align: center;
  margin-top: 150px;
}

.alligned-text_right{
  display: block;
  line-height: 100%;
  text-align: end;
  margin-top: 300px;
  margin-left: 20px
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 12px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 280px;
  margin-bottom: 62px;
  position: relative;
}

.cover__description-text {
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-family: Raleway,Arial,sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 17.85px;
}

.bet-button {
  margin-left: 78px;
  min-height: 52px;
  cursor: pointer;
  padding: 12px 32px;
  margin-bottom: 62px;
  border-style: solid;
  border-width: 1px;
  border-color: #FFF;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-family: Raleway,Arial,sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  background-color: transparent;
}

.lots__heading {
  margin: 180px 180px 80px 80px;
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
  margin: 50px 40px 0 40px;
}

.lots__card-list {
  margin: 27px 50px 30px;
  display: grid;
  grid-template-columns: 460px 460px 460px;
  row-gap: 25px;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  position: relative;
  list-style-type: none;
}

.lots__card-list-item {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF;
  height: 100%;
  width: 430px;
  background-size: cover;
}

.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__text {
  text-decoration: none;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin: 0 40px 50px 40px;
}

.card__link {
  display: block;
  margin-right: 25px;
  text-decoration: none;
}

.lots__look-more-link {
  margin-left: 90px;
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 430px;
  grid-column-gap: 25px;
  margin: 160px 160px 24px 24px;
}

.about__column {
  margin-top: 100px;
  display: grid;
  grid-row-gap: 25px;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-auto-flow: row;
  max-width: 900px;
}

.about__logo {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  display: flex;
  justify-content: center;
  width: 148px;
  height: 114px;
  margin: 63px 46px;
}

.about__title {
  margin-bottom: 75px;
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: flex;
  margin: 160px 160px 90px 90px;
  justify-content: space-around;
}

.footer__address {
  justify-self: start;
  line-height: 24.3px;
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 240px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

.footer__menu-list-item {
  list-style-type: none;
  color: #000;
  text-align: center;
  font-family: Raleway,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  list-style-type: none;
}

.footer__social-list-item {
}