.header {
  box-sizing: border-box;
  padding: 92px 49px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-family: Raleway,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list {
  display: flex;
  justify-self: start;
  column-gap: 32px;
  white-space: nowrap;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  margin-right: 185px;
  margin-left: 36px;
}

.header__logo-img {
  width: 148px;
  height: 105px;
}

.header__address{
  justify-self:end;
}

.address {
  line-height: 24.3px;
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 240px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center center;
  background-size: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background: #000;
  z-index: 0;
  background-position: center center;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position:inherit;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  color: #FFF;
  font-family: Raleway,Arial,sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.alligned-text {
  display: block;
  line-height: 115%;
}

.alligned-text_center {
  text-align: center;
  line-height: 100%;
}

.alligned-text_right{
  text-align: right;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 12px;
  position: inherit;
  margin-top: 147px;
}

.cover__description-text {
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-family: Raleway,Arial,sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 24.2px;
  white-space: nowrap;
}

.bet-button {
  margin-left: 78px;
  margin-bottom: 62px;
  min-height: 52px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: #FFF;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-family: Raleway,Arial,sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  white-space: nowrap;
  background-color: transparent;
  margin-right: 50px;
}

.lots__heading {
  margin: 179px 891px 27px 40px;
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
  margin: 50px 40px 0 40px;
}

.lots__card-list {
  margin: 27px 50px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(334px, auto);
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  list-style-type: none;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: inherit;
  color: #FFF;
  height: 100%;
  background-size: cover;
}

.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__text {
  text-decoration: none;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin: 0 40px 50px 40px;
}

.card__link {
  display: block;
  margin-right: 25px;
  text-decoration: none;
}

.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-rows: 430px;
  grid-column-gap: 24px;
  margin-top: 160px;
}

.about__column {
  margin-top: 100px;
  margin-left: 72px;
  display: grid;
  grid-row-gap: 25px;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-auto-flow: row;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;

}

.about__title {
  margin-bottom: 75px;
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  font-family: Raleway,Arial,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  margin-bottom: 160px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

.footer__menu-list-item {
  list-style-type: none;
  color: #000;
  text-align: center;
  font-family: Raleway,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  list-style-type: none;
}